.benefits {

    &__method {
        width: 450px;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;

        border-radius: 4px;
    
        background-color: $secondBgColor;
    }
    &__title {
        color: $titleTextColor;
    
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 10px;
        line-height: 1.71;
        
        letter-spacing: 0.03em;
        
        color: $listTextColor;
    }
}