.header {
    position: relative; 
    border-bottom: 1px solid $borderHeaderColor;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        margin: 0 auto;
    }
    
    &__logo {

        color: $primaryTextColor;
    
        font-family: $webFont;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
    }
    &__web {
        color: $accentColor;

        font-family: $webFont;
        font-size: 24px;
        line-height: 1.16;
    }
}