.menu-contact {
    display: flex;
    margin-left: auto;

    &__item:not(:first-child) {
        margin-left: 50px;
    }
    &__tel,
    &__com {
        display: inline-flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: $listTextColor;
    
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__tel:hover,
    &__com:hover,
    &__tel:focus,
    &__com:focus,
    &__icon:hover,
    &__icon:focus {
        color: $accentColor;
    }
    &__icon {
        margin-right: 10px;
        fill: $listTextColor;
        fill: currentColor;
    }    
}