.button-header {
    background-color: transparent;
    color: $titleTextColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-header:hover,
.button-header:focus {
    fill: $accentColor;
}
// @media screen and ( min-width: 481px) {
//     .button-header {
//         display: none;
//     }
// }
// @media screen and (min-width: 480px) {
//     .menu-container {
//         display: none;
//     }
// }
.menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 48px;
    background-color: $primaryBgColor;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
    opacity: 1;
    transform: translateX(0);
}
.menu-button {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;
} 
.menu-button:hover,
.menu-button:hover {
    fill: $accentColor;
}

.menu-nav {

    &__item:nth-child(-n+2) {
        margin-bottom: 32px;
    }
    &__item:nth-child(3) {
        margin-bottom: 306px;
    }


    &__studio,
    &__portfolio,
    &__contact {


        color: $titleTextColor;

        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__studio:hover,
    &__studio:focus,
    &__portfolio:hover,
    &__portfolio:focus,
    &__contact:hover,
    &__contact:focus {
       color: $accentColor;
    }
}
.menu-contact { 

    &__icon {
        display: none;
    }

    &__tel { 
        display: block;
        margin-bottom: 32px;

        color: $accentColor;

        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;

    }
    &__com {
        display: block;
        margin-bottom: 64px;

        color: $listTextColor;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.mobil-social {
    display: flex;
    align-items: center;

    &__solid {
        height: 22px;
        margin-left: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__con {
        color: $accentColor;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
    &__con:nth-last-child(-n+3) {
        margin-left: 10px;
    }
}