.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background: $secondBgColor;
    
    &__container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 50px;
        text-align: center;
    
        color: $titleTextColor;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
    }
}
.carta {
    display: flex;

    &__specialist:not(:first-child) {
        margin-left: 30px;    
    }
    &__specialist {
        background: $primaryBgColor;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        border-radius: 0px 0px 4px 4px; 
    }
    &__blok {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__name {
    
        color: $titleTextColor;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    &__profession {
        margin-top: 10px;
    
        color: $listTextColor;
    
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}
.icon {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    &__social:not(:first-child) {
        margin-left: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: $iconaClientColor;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
        color: $textColor;
    }
    &__svg {
        fill: currentColor;
    }
}